<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.joseluisgs.rssnoticias">

<!--    Nuestros permisos-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Muy importante la clausula usesCleartextTraffic para permitirnos acceder a recurso background que no son https
    si no no podrás porque lo capa por seguridad -->
    <application
            android:allowBackup="true"
            android:icon="@mipmap/rss_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/rss_icon_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme">
        <!-- Ponemos de comienzo la actividad Splash que llama a la main -->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Actividad Main -->
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>